@import "tailwindcss";
@font-face {
  font-family: "Delius";
  src: url("../fonts/Delius/Delius-Regular.ttf");
}

html, body {
    font-family: "Delius", serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
  
  .App {
    width: 100%;
  }
  
  .section {
    height: 100vh;
  }